
<div class="container">
    <br><br><br>
    <div class="row">
       
        <div class="col-md-6">
            <div class="line-divider">
                <p>INFORMACION DE CONTACTO</p>
              </div>
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre del Titular"
                            aria-label="Nombre" aria-describedby="basic-addon2" [value]="">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre Completo"
                            aria-label="Nombre" aria-describedby="basic-addon2" [value]="">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="DNI"
                            aria-label="Nombre" aria-describedby="basic-addon2" [value]="">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="TELEFONO"
                            aria-label="Nombre" aria-describedby="basic-addon2" [value]="">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="EMAIL "
                        
                        > 
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <div class="col-md-6 " style="background-color: #fff;">
            <div class="line-divider">
                <p>TU PEDIDO</p>
              </div>
              <div class="row">
                <div class="col-4 "> <p>CANTIDAD</p></div>
                <div class="col-4 "> <p>IMPORTE</p> </div>
                <div class="col-4 "> <p class="float-right"> TOTAL</p></div>

                <div class="col-6 ">
                    <label class="float-left mt-1" style="height: 0px;">
                        <strong>1 Tarjeta PlayStation</strong>
                    </label>    
                </div>
                <div class="col-6">
                    <label style="height: 0px;" class="float-right">
                        <img src="/assets/tokens.svg" class="logo" width="30" />
                        <STRONG>100</STRONG>
                    </label>
                </div>
               
            </div>

            <hr>

            <div class="row">
                <div class="col-6">
                    <label >
                        <STRONG>TOTAL</STRONG>
                      </label>
                </div>
                <div class="col-6 ">
                    <label style="height: 0px;" class="float-right">
                        <img src="/assets/tokens.svg" class="logo" width="30" />
                        <STRONG>100</STRONG>
                    </label> 
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-danger " (click)="solicitar()" style="margin: auto;">CONFIRMAR SOLICITUD</button>
            </div>
            <br>
        </div>
    </div>
    <br><br><br>

</div>