<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="position: fixed !important; width: 100%; z-index: 1000;">

    <!--  Show this only on mobile to medium screens  -->
      <a class="navbar-brand d-lg-none" href="#">Navbar</a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <!--  Use flexbox utility classes to change how the child elements are justified  -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    
        <ul class="navbar-nav">
            <li class="nav-item " style="width: 80px;">
                <img src="assets/perfil_icono.svg" alt="" style="position: fixed; width: 33px; top: 16px;">
              <a class="nav-link " href="#"></a>
            </li>
         
        </ul>
        
        
    <!--   Show this only lg screens and up   -->
    <div class="navbar-brand">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">VERSUS</a>
              </li>
            <li class="nav-item " style="width: 80px;">
                <img src="assets/logo.svg" alt="" style="position: fixed;" width="80">
              <a class="nav-link " href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TORNEOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TIENDA</a>
              </li>
          </ul>
          
    </div>
        
        
        
        <ul class="navbar-nav">
            <li class="nav-item " style="width: 100px;">
                <img src="../../../assets/contador_tokens.svg" style="position: fixed;right: 19px; width: 147px;">
              <a class="nav-link " href="#" style="font-weight: bold;top: 3px;">1500</a>
            </li>
        </ul>
      </div>
  </nav>
  