<div class="line-divider"><p>OFERTAS</p></div> 

<div class="line-divider"><p>TOKENS</p></div> 
<div class="container">
    <div class="row">
      <div class="col-md-3 col-6 col-sm-3 col-lg-3 col-xl-2">
        <div class="card  text-white " style="width: 100% ; height:auto;background: transparent !important;">
          <img class="card-img" src="/assets/back_gris.png" alt="Card image">
          <div class="card-img-overlay text-center" style="padding: 0 !important">

            <h5 class="card-title">Card title</h5>
              <img src="/assets/moneda1.png" alt="" style="width: 100%;"> 
            <strong>$99</strong>
          </div>
        </div>
      </div>

    </div>
  </div>
<div class="line-divider"><p>TIENDA</p></div> 
<div class="container">
    <div class="row">
      <div class="col-md-3 col-6 col-sm-3 col-lg-3 col-xl-2">
        <div class="card  text-white " style="width: 100% ; height:auto;background: transparent !important;">
          <img class="card-img" src="/assets/back_gris.png" alt="Card image">
          <div class="card-img-overlay text-center" style="padding: 0 !important">

            <h5 class="card-title">Card title</h5>
            <img src="assets/TARJETA.png" alt="" style="width: 100%;">
            <strong>$99</strong>
          </div>
        </div>
      </div>

    </div>
  </div>