<!-- 
<div class="line-divider"> <p>OFERTAS</p></div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-12 col-sm-12 ">
     <img src="assets/banner_promo-01.png" alt="" class="img-responsive" style="width: 100%;">
    </div>
  </div>
</div> -->

<div class="line-divider"> <p>TOKENS</p> </div>
   <div class="container slider-pc">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-3 col-4 col-sm-3 col-lg-3 col-xl-2 center-block"
          *ngFor="let paquete of TokensTienda"
        >
          <div
            class="card text-white"
            style="width: 100%; height: auto; background: transparent !important;"
            (click)="Comprar(paquete)"
          >
            <img
              class="card-img"
              [src]="
                'http://4gamers.xplainerservicios.com/content/Tienda/' +
                paquete.imgPrecentacion
              "
            />
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="container slider-movil">
      <swiper   class="swiper-container" [config]="config">
        <div class="swiper-wrapper ">
            <div class="swiper-slide"  style="width: 200px !important;" *ngFor="let paquete of TokensTienda" >
              <div >
                <img class="img-thumbnaill" [src]="'http://4gamers.xplainerservicios.com/content/Tienda/' + paquete.imgPrecentacion" />
              </div>
          </div>
        </div>
      
        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </swiper > 
    </div>
   <div class="line-divider">
      <p>TIENDA</p>
   </div>


   <div class="container slider-pc">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-3 col-4 col-sm-3 col-lg-3 col-xl-2 center-block"
          *ngFor="let paquete of TokensTienda"
        >
          <div
            class="card text-white"
            style="width: 100%; height: auto; background: transparent !important;"
            (click)="Solicitar(paquete)"
          >
          <img class="card-img" src="/assets/tarjeta_psplus-01.png"/>

          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="container slider-movil">
      <swiper   class="swiper-container" [config]="config">
        <div class="swiper-wrapper ">
            <div class="swiper-slide"  style="width: 200px !important;" *ngFor="let paquete of TokensTienda" >
               <div
               class="card text-white"
               style="width: 100%; height: auto; background: transparent !important;"
               (click)="Solicitar(paquete)"
               >
               <img class="card-img" src="/assets/tarjeta_psplus-01.png"/>
            </div>
          </div>
        </div>
      
        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </swiper > 
    </div>
