<div class="container text-white">
   <p *ngIf="dataTorneo.inicio > 0">LA TORNEO INICIA EN:</p>
   <p *ngIf="dataTorneo.inicio < 0">LA TORNEO FINALIZA EN:</p>
 
  <strong *ngIf="dataTorneo.inicio > 0" > 00:<countdown #cd [config]="{leftTime : dataTorneo.inicio}" (event)="inicio($event)" ></countdown></strong>
  <strong *ngIf="dataTorneo.inicio < 0" > 00:<countdown #cd [config]="{leftTime : dataTorneo.fin}"  (event)="final($event)"></countdown></strong>
  
     <div class="fasestorneo ">
   <br>
    <div *ngIf="fasesTorneo.length === 3; then tresfases else cuatrofases" class="row text-center text-white " >
      
    </div>
   </div>

   <ng-template #tresfases>
      <div  class="row text-center text-white  ">
         <div class="col-4" *ngFor="let item of fasesTorneo">
            <img [src]="'http://4gamers.xplainerservicios.com/content/torneos/fases/' + item.imgFase" alt="" style="width: 90%;">
            <div>
               <div *ngIf="item.activa; then buscar else bloqueado">
               </div>
               <ng-template #buscar>
                  <button (click)="BuscarRival(item)" class="btn btn-sm btn-block btn-danger btnBuscarRival" style="width: 90%; padding: initial;margin: auto;">{{ item.status }}</button>
               </ng-template>
               <ng-template #bloqueado>
                   <button   class="btn btn-sm btn-block btn-light disabled" style="width: 90%;padding: initial;font-size: 9px;  margin: auto;">{{ item.status }}</button>
               </ng-template>
            </div>
         </div>
      </div>
      <div class=" row   ">
         <div class="col-12">
            <br>
            <div class="progress">
               <div class="progress-bar" role="progressbar" [ngStyle]="{'width': process+'%'}"  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
      <br>
      <div class="row text-center text-white">
         <div class="col-4" *ngFor="let item of fasesTorneo">
            <p class="text-premio">PREMIO</p>
            <label>
            <img src="/assets/tokens.svg" class="logo" width="20" />
            <STRONG class="numtokens">{{item.numTokens}}</STRONG>
            </label>
         </div>

      </div>
   </ng-template>
   <ng-template #cuatrofases>
      <div  class="row text-center text-white">
         <div class="col-3" *ngFor="let item of fasesTorneo">
            <img [src]="'http://4gamers.xplainerservicios.com/content/torneos/fases/' + item.imgFase" alt="" style="width: 90%;">
            <!-- <button class="btn btn-sm   btn-block btn-danger" style="width: 90%;">BuscarRival</button> -->
            <div>
               <div *ngIf="item.activa; then buscar else bloqueado">
               </div>
               <ng-template #buscar>
                  <button (click)="BuscarRival(item)" class="btn btn-sm btn-block btn-danger btnBuscarRival" style="width: 90%; padding: initial;margin: auto;">{{ item.status }}</button>
               </ng-template>
               <ng-template #bloqueado>
                   <button   class="btn btn-sm btn-block btn-light disabled" style="width: 90%;padding: initial;font-size: 9px;  margin: auto;">{{ item.status }}</button>
               </ng-template>
            </div>
         </div>
      </div>
      <div class=" row text-center text-white  ">
         <div class="col-12">
            <br>
            <div class="progress">
               <div class="progress-bar" role="progressbar" [ngStyle]="{'width': process+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
      <div class="row text-center text-white">
         <div class="col-3" *ngFor="let item of fasesTorneo">
            <p class="text-premio">PREMIO</p>
            <label>
            <img src="/assets/tokens.svg" class="logo"  />
            <STRONG class="numtokens">{{item.numTokens}}</STRONG>
            </label>
         </div>
      </div>
   </ng-template>
   
   
    <br>
    <div class="generalinfo text-white">
       <div class="panel panel-info">
          <div class="panel-heading collapsed " data-toggle="collapse" data-target="#bar">
             REGLAS DE LA COMPETENCIA
             <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body" style="background-color:  rgb(153,153,153)">
             <!-- The inside div eliminates the 'jumping' animation. -->
             <div class="collapse" id="bar" >
                Reglas de la competencia
                Reglas de la competencia
                Reglas de la competencia
                Reglas de la competencia
                Reglas de la competencia
             </div>
          </div>
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#pruebas">
             REPORTAR RESULTADOS Y SUBIR PRUEBAS
             <i class="fa fa-fw fa-chevron-down"></i>
          </div>
          <div class="panel-body" style="background-color: rgb(153,153,153);">
            <!-- The inside div eliminates the 'jumping' animation. -->
             <div class="collapse" id="pruebas">
                como reportar resultados 
                como reportar resultados 
                como reportar resultados 
                como reportar resultados 
             </div>
          </div>
       </div>
    </div>
    <div class="row text-center">
       <div class="col-12" >
          <button class="btn btn-danger "  (click)="jugar()" style="margin: auto;position: relative;;" *ngIf="puedojugar">  JUGAR </button>
       </div>
    </div>


  
      <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading> -->
      


 </div>




  