<div class="container">
    <h5 class="text-white">EL TORNEO INICA EN : <strong>00:00:00:00</strong></h5>
    
    <div *ngIf="fasesTorneo.length === 3; then tresfases else cuatrofases" class="row text-center text-white fasestorneo" >
      
    </div>
   <ng-template #tresfases>
      <div  class="row text-center text-white  ">
         <div class="col-4" *ngFor="let item of fasesTorneo">
            <img src="../../../../assets/Rectángulo 59.png" alt="" style="width: 90%;">
            <p>PREMIO</p>
            <label>
            <img src="/assets/tokens.svg" class="logo" width="30" />
            <STRONG>{{item.numTokens}}</STRONG>
            </label>

            <div *ngIf="!item.bloqueada; then buscar else bloqueado">
            </div>
            <ng-template #buscar>
               <button (click)="BuscarRival(item)" class="btn btn-sm btn-block btn-danger" style="width: 90%;margin: auto;">BUSCAR RIVAL</button>
            </ng-template>
            <ng-template #bloqueado>
                <button (click)="BuscarRival(item)"  class="btn btn-sm btn-block btn-light disabled" style="width: 90%;margin: auto;">BLOQUEADO</button>
            </ng-template>
         </div>
      </div>
   </ng-template>
   <ng-template #cuatrofases>
      <div  class="row text-center text-white">
         <div class="col-3" *ngFor="let item of fasesTorneo">
            <img src="../../../../assets/Rectángulo 59.png" alt="" style="width: 90%;">
            <!-- <button class="btn btn-sm   btn-block btn-danger" style="width: 90%;">BuscarRival</button> -->
            <p>PREMIO</p>
            <label>
            <img src="/assets/tokens.svg" class="logo" width="30" />
            <STRONG>100</STRONG>
            </label>
            <div>
               <!-- {{item.infoFase[0]}} -->
               <div *ngIf="!item.bloqueada; then buscar else bloqueado">

               </div>
               <ng-template #buscar>
                  <button (click)="BuscarRival(item)" class="btn btn-sm btn-block btn-danger" style="width: 90%;margin: auto;">BUSCAR RIVAL</button>
               </ng-template>
               <ng-template #bloqueado>
                   <button (click)="BuscarRival(item)" class="btn btn-sm btn-block btn-light disabled" style="width: 90%;margin: auto;">BLOQUEADO</button>
               </ng-template>
           
            <!-- <p style="float: left;">Avanza gratis en : <strong>00:00:00</strong></p> -->

            </div>
         </div>
      </div>
   </ng-template>



    <div class="row text-center text-white  ">
       <!-- 
       <div class="col-4">
          <img src="../../../../assets/Rectángulo 59.png" alt="" style="width: 90%;">
          <button class="btn btn-sm btn-block btn-danger" style="width: 90%;margin: auto;">BuscarRival</button>
       </div>
       <div class="col-4">
          <img src="../../../../assets/Rectángulo 59.png" alt="" style="width: 90%;">
           
         
         <ng-template #thenBlock>Content to render when condition is true.</ng-template>
         <ng-template #elseBlock>Content to render when condition is false.</ng-template> 

       </div> -->
       <div class="col-12">
          <br>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: {{process}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
       </div>
    </div>
    <br>
    <div class="generalinfo text-white">
       <div class="panel panel-info">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar">
             REGLAS DE LA COMPETENCIA
             <i class="fa fa-fw fa-chevron-down"></i>
             <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
             <!-- The inside div eliminates the 'jumping' animation. -->
             <div class="collapse" id="bar">
                Reglas de la competencia
             </div>
          </div>
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#pruebas">
             REPORTAR RESULTADOS Y SUBIR PRUEBAS
             <i class="fa fa-fw fa-chevron-down"></i>
             <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
             <!-- The inside div eliminates the 'jumping' animation. -->
             <div class="collapse" id="pruebas">
                como reportar resultados 
             </div>
          </div>
       </div>
    </div>
    <div class="row text-center">
       <div class="col-12" >
          <button class="btn btn-danger "  (click)="jugar()" style="margin: auto;position: relative;;" *ngIf="puedojugar">  JUGAR </button>
       </div>
    </div>


  
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
      


 </div>




  