<div class="container text-white">
  <br />


  <p dir="ltr"  style=" line-height: 1.295; text-align: center; margin-top: 0pt; margin-bottom: 8pt;" >
    <span style="font-size: 12pt; font-family: Calibri, sans-serif;color: #fff; background-color: transparent;
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
        white-space: pre-wrap;
      "
      >Términos y condiciones legales de 4Gamers Perú S.A.C.</span
    >
  </p>
  <p dir="ltr" style="line-height: 1.295; margin-top: 0pt; margin-bottom: 8pt">
    <span
      style="
        font-size: 11pt;
        font-family: Calibri, sans-serif;
        color: #fff;
        background-color: transparent;
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
        white-space: pre-wrap;
      "
      >1. Condiciones legales y su aceptación&nbsp;</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >Los presentes términos y condiciones legales (los términos y condiciones)
      regulan el acceso y el uso por parte de los usuarios de internet (en
      adelante el Usuario) del sitio web situado en </span
    ><a href="http://www.4gamers.com.pe" style="text-decoration: none"
      ><span
        style="
          font-size: 11pt;
          font-family: Calibri, sans-serif;
          color: #0563c1;
          background-color: transparent;
          font-weight: 400;
          font-style: normal;
          font-variant: normal;
          text-decoration: underline;
          -webkit-text-decoration-skip: none;
          text-decoration-skip-ink: none;
          vertical-align: baseline;
          white-space: pre;
          white-space: pre-wrap;
        "
        >http://www.4gamers.com.pe</span
      ></a
    ><span
      class="text-tyc"
    >
      (En adelante el sitio web) así como el uso y prestación de los servicios
      que se describen más adelante) qué 4Gamers Perú S.A.C. (en adelante la
      sociedad o 4Gamers Perú) presta mediante el sitio web.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >Por favor, lea detenidamente estos términos y condiciones, pues el hecho
      de acceder y/o usar el sitio web y los servicios y/o de completar el
      proceso de registro, significa que usted ha leído, entendido y acepta, sin
      reserva alguna, estas condiciones.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >El uso del presente sitio web está reservado a mayores de 18 años por lo
      que el usuario se compromete a no utilizar los servicios en caso de no
      disponer de dicha edad mínima.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >Todo el contenido, los títulos de los juegos, los nombres comerciales y/o
      la imagen comercial, las marcas comerciales, las ilustraciones y las
      imágenes asociadas son marcas comerciales y/o material con copyright de
      sus respectivos propietarios.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >El acceso y la utilización de los servicios y/o contenidos ofrecidos al
      usuario en el sitio web se encuentra sometido a los presentes términos y
      condiciones que el usuario, con anterioridad al acceso o la utilización de
      dichos servicios y contenidos, ha de leer atentamente. La utilización de
      dichos servicios y contenidos expresará en todo caso la entera e
      incondicional aceptación de los términos y condiciones en la versión
      publicada por la sociedad en el momento de acceder a los servicios.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      style="
        font-size: 11pt;
        font-family: Calibri, sans-serif;
        color: #fff;
        background-color: transparent;
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
        white-space: pre-wrap;
      "
      >2. Servicios del sitio web&nbsp;&nbsp;</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >A través del sitio web 4Gamers Perú organiza la participación en torneos
      y/o competiciones no profesionales de videojuegos (en adelante, el
      servicio) que se desarrollan en plataformas ajenas al sitio web,
      independientes de ésta y, por tanto, ajenas al control de 4Gamers
      Perú.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >Al aceptar participar en dichos juegos y/o competiciones no
      profesionales, el usuario pasa a estar en un entorno controlado y regulado
      por el operador que dirija la plataforma en la que se desarrolle el juego
      y/o la competición, y el usuario quedará sujeto a las normas y políticas
      qué dicho operador tenga. Por tanto, el usuario en ningún caso podrá
      reclamar a 4Gamers Perú por lo que pueda suceder en las plataformas en las
      que se desarrollan los juegos y/o competiciones no profesionales. Ya que
      esas plataformas están fuera del control de 4Gamers Perú y se rigen bajo
      sus propias normas.</span
    >
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >A continuación se detalla las modalidades de juego en las cuales el
      usuario podrá acceder en el Sitio Web</span
    >
  </p>
  <ul style="margin-top: 0; margin-bottom: 0">
    <li
      dir="ltr"
      style="
        list-style-type: disc;
        font-size: 11pt;
        font-family: Calibri, sans-serif;
        color: #fff;
        background-color: transparent;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
      "
    >
      <p
        dir="ltr"
        style="
          line-height: 1.295;
          text-align: justify;
          margin-top: 0pt;
          margin-bottom: 0pt;
        "
        role="presentation"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Calibri, sans-serif;
            color: #fff;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
          >Versus</span
        >
      </p>
    </li>
  </ul>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      margin-left: 36pt;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 0pt;
    "
  >
    <span
      class="text-tyc"
      >El usuario podrá acceder al versus de manera gratuita teniendo una
      limitante de poder ganar un valor de 50 tokens diarios como
      máximo.&nbsp;</span
    >
  </p>
  <ul style="margin-top: 0; margin-bottom: 0">
    <li
      dir="ltr"
      style="
        list-style-type: disc;
        font-size: 11pt;
        font-family: Calibri, sans-serif;
        color: #fff;
        background-color: transparent;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
      "
    >
      <p
        dir="ltr"
        style="
          line-height: 1.295;
          text-align: justify;
          margin-top: 0pt;
          margin-bottom: 0pt;
        "
        role="presentation"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Calibri, sans-serif;
            color: #fff;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
          >Torneos</span
        >
      </p>
    </li>
  </ul>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      margin-left: 36pt;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 0pt;
    "
  >
    <span
      class="text-tyc"
      >El usuario podrá acceder a los dos tipos de torneos que el Sitio Web
      brinda (gratuitos y de paga)&nbsp;</span
    >
  </p>
  <ul style="margin-top: 0; margin-bottom: 0">
    <li
      dir="ltr"
      style="
        list-style-type: disc;
        font-size: 11pt;
        font-family: Calibri, sans-serif;
        color: #fff;
        background-color: transparent;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
      "
    >
      <p
        dir="ltr"
        style="
          line-height: 1.295;
          text-align: justify;
          margin-top: 0pt;
          margin-bottom: 0pt;
        "
        role="presentation"
      >
        <span
          style="
            font-size: 11pt;
            font-family: Calibri, sans-serif;
            color: #fff;
            background-color: transparent;
            font-weight: 400;
            font-style: normal;
            font-variant: normal;
            text-decoration: none;
            vertical-align: baseline;
            white-space: pre;
            white-space: pre-wrap;
          "
          >Campeonato</span
        >
      </p>
    </li>
  </ul>
  <p>
    <span id="docs-internal-guid-d3df24af-7fff-5f20-0a48-7876dbdf453d"></span>
  </p>
  <p
    dir="ltr"
    style="
      line-height: 1.295;
      margin-left: 36pt;
      text-align: justify;
      margin-top: 0pt;
      margin-bottom: 8pt;
    "
  >
    <span
      class="text-tyc"
      >El usuario podrá inscribirse en los campeonatos que brinda el Sitio
      Web.</span
    >
  </p>
</div>
