
<div class="line-divider">
  <p>SELECCIONA TU JUEGO</p>
</div>
<div style="width: 100%;" class="contenedor">
  <div *ngFor="let item of juegos" class="center">
    <div class="gallery-card" style="margin: auto;">
      <div class="gallery-card-body" [ngClass]="{ CheckActive: item.activa === true }" >
        <label class="block-check">
          <img [src]="baseUrl+ item.imgLogo" class="img-responsive" width="100%" />
          <input type="radio" name="game" (change)="onChange(item)" [value]="item" [(ngModel)]="versus.juego"
          />
        </label>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="container text-center text-white">
  <p style="size: 16px; font-weight: initial;">CANTIDAD A APOSTAR</p>
  <br />
  <div class="container_marcador">
    <img src="assets/barra_contador.png" usemap="#image-map"/>
    <input style="width: 15%;" type="text" class="text-white" [(ngModel)]="versus.apuesta" class="inputTokens centrado" />
    <map name="image-map">
      <area (click)="CantidadApostar(-1)" href="javascript:void(0)" coords="0,1,31,29" shape="rect" />
      <area (click)="CantidadApostar(1)"  href="javascript:void(0)" coords="195,27,167,0" shape="rect"/>
    </map>
  </div>
  <br/>
  <br/>
  <button class="btn btn-danger btn-sm btn-jugar " (click)="CrearVersus()" *ngIf="(50 - acumulados)  > 0" >
    JUGAR
  </button>
</div>


<div class="line-divider" *ngIf="idpersona">
   <p>MIS VERSUS</p>
 </div>
 <div class="container" >
    <div  *ngFor="let item of misversus ">
      <div class="alert alert-light alert-dismissible fade show" role="alert">
         <strong>{{item.Nombre}} </strong>  Apuesta : {{ item .Apuesta}}
          <button type="button" class="btn btn-sm btn-danger float-right" style="position: absolute; top: 0; right: 0;"
            (click)="CancelarVersus(item)">
            Cancelar
          </button>
       </div>
    </div>
</div>
<div class="line-divider">
  <p>ENCUENTRA TU RIVAL</p>
</div>
<div class="container">
  <div class="row" style="height: 350px; overflow: scroll;">

    <div class="col-12" *ngFor="let item of allversus">
      <div class="alert alert-light alert-dismissible fade show " role="alert">
        <strong>{{item.juego}} </strong>  Apuesta : {{ item.apuesta}}
         <button  *ngIf="item.apuesta <= (50 - acumulados)" type="button" class="btn btn-sm btn-danger float-right" style="position: absolute; top: 0; right: 0;"
           (click)="AceptarVersus(item)">
           Entrar
         </button>
      </div>
    </div>
<!-- 
    <div  class="col-12 col-md-12">
      <div class="row">
                <div *ngFor="let item of allversus" class="col-6 col-sm-6 col-md-3 col-lg-3" >
          <div class="card">
            <div class="card-img" style="background: rgba(0, 0, 0, 0.8);">
              <img [src]="'http://4gamers.xplainerservicios.com/content/juegos/' +  item.imglogo " style="width: 100%;" />
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ item.username }}
              </p>
              <p class="card-text">Apuesta: {{ item.apuesta }}</p>
            </div>
            <div class="card-footer" *ngIf="item.apuesta <= (50 - acumulados)"> 
              <button  class="btn btn-danger btn-sm" (click)="AceptarVersus(item)" >
                Entrar
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div> -->
  </div>
</div>


<!--  

<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

<ng-template #template >
  <div class="modal-body">
    This is a modal.
    <div class="text-center">
      <button type="button" class="btn btn-danger" (click)="closeModal(template)" data-dismiss="modal">Cancelar</button>
    </div>
  </div>
</ng-template> -->