<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<div class="container-fluid">
  <div class="line-divider"><p>TORNEOS DESTACADOS</p></div> 
  <div class="container panels-card">
    <div class="row">
      
      <div class="col-md-6">
        <div class="card  text-white " style="width: 100% ; height:auto;">
          <img class="card-img" src="../assets/Banner_torneos_COD.jpg" alt="Card image">
          <div class="card-img-overlay  row" style="padding: 0 !important">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
            <div style="width: 50%;">

            </div>

            <div style="width: 50%;">

            </div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card  text-white " style="width: 100% ; height:auto;">
          <img class="card-img" src="../assets/Banner_torneos_COD.jpg" alt="Card image">
          <div class="card-img-overlay  row" style="padding: 0 !important">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
            <div style="width: 50%;">

            </div>

            <div style="width: 50%;">

            </div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card  text-white " style="width: 100% ; height:auto;">
          <img class="card-img" src="../assets/Banner_torneos_COD.jpg" alt="Card image">
          <div class="card-img-overlay  row" style="padding: 0 !important">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
            <div style="width: 50%;">

            </div>

            <div style="width: 50%;">

            </div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">Last updated 3 mins ago</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet class="container"></router-outlet>
