

<app-torneos></app-torneos>
<div>
  <div class="line-divider"><p>TIENDA</p></div>
  <div class="container">
    <swiper class="swiper-container" [config]="{slidesPerView: 'auto'}">
      <div class="swiper-wrapper justify-content-xl-center ">

        <img class="swiper-slide col-md-3 col-4 col-sm-3 col-lg-3 col-xl-2 click"  *ngFor="let paquete of TokensTienda" 
          [src]="'http://4gamers.xplainerservicios.com/content/Tienda/' + paquete.imgPrecentacion" (click)="Comprar(paquete)" >
      </div>
    </swiper> 
  </div>
</div>

<div class="container-videos">

  <div class="line-divider" style="height: 4px;"></div>

  <div class="container-fluid videosPromosion" >
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col col-6 col-xl-4">
        <br /><br />
        <div class="card text-left cont-video" (click)="abrirVideo()">
          <img class="card-img" src="/assets/placeholder.png" alt="" />
          <div class="card-img-overlay text-center text-white" style="padding: 0 !important;">
            <p style="font-size: 3vw; margin-top: 20%;">¿COMO FUNCIONA <br>4GAMERS?</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-6 col-xl-4">
        <br /><br />
        <div class="card text-left cont-video"  (click)="abrirVideo()">
          <img class="card-img" src="/assets/placeholder.png" alt="" />
          <div class="card-img-overlay text-center text-white" style="padding: 0 !important;">
            <p style="font-size: 3vw;margin-top: 20%;">¿COMO COBRAR <br>TU DINERO?</p>
          </div>
        </div>
        <br>
        <button (click)="cobrar()" class="btn bg4gamers float-right">
          COBRAR
        </button>
      </div>
    </div>
  </div>
</div>



