
  
  .contenedor {
    background-color: rgb(39,49,61);
    height: 7rem;
    padding-top: 15px  !important;
  }

  .CheckActive {
    background-color: rgb(249, 23, 87) !important;
  }
  
 
 
  .swiper-slide {
    width: 5rem !important; 
  }
  .swiper-slide div img {
    width: 5rem !important; 
  }
  .swiper-slide div  {
    background-color: #3a3a3a;

  }
